@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background-color: #121212;
}



.marketing{
font-weight: 500;
line-height: 70.56px;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;

}